<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <meta charset='utf-8'>
</head>
<body>
    <h3 style="text-align:justify; font-size:15px;">Hi!</h3>
    <p style="text-align:justify; font-size:13px;">
        The user: <b>$APPLICANT$</b>, has sent a Immigration Procedure request.
    </p>

    <h4>Detail:</h4>
    <p style="text-align:left; font-size:12px;"><span style="font-weight:bold;">Associate: </span>$ASSOCIATE$</p>
    <p style="text-align:left; font-size:12px;"><span style="font-weight:bold;">Procedure: </span>$PROCEDURE$</p>
    <p style="text-align:left; font-size:12px;"><span style="font-weight:bold;">Document: </span>$DOCUMENT$</p>
    <p style="text-align:left; font-size:12px;"><span style="font-weight:bold;">Expiration Date: </span>$DATE$</p>

</body>
</html>
