<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <meta charset='utf-8'>
</head>
<body>
    <h3 style="color: #D71A2F; text-align: justify; font-size: 15px;">Hi!</h3>
    <p style="text-align:justify; font-size:13px;">
        <h4>The user: </h4> <b style="color: #D71A2F; font-family: verdana;">$APPLICANT$</b>, <lable style="color: #2e86c1; font-weight: bold; font-family: verdana; ">has sent an Extra Diner request.</lable>
    </p>

    <p style="text-align:left; font-size:12px;"><b>Type: </b><label style="color: #D71A2F; font-weight: bold; font-family: verdana;">$TYPE$</label></p>
    <p style="text-align:left; font-size:12px;"><b>Request Date: </b> <label style="color: #D71A2F; font-weight: bold; font-family: verdana;">$DATE$</label></p>
    <p style="text-align:left; font-size:12px;"><b>Request Time: </b> <label style="color: #D71A2F; font-weight: bold; font-family: verdana;">$TIME$</label></p>

    <h4>Associates:</h4>
    <p style="color: #D71A2F; text-align: left; font-size: 12px; font-weight: bold; font-family: verdana;">$ASSOCIATES$</p>

    <h4>Motive:</h4>
    <p style="color: #D71A2F; text-align: left; font-size: 12px; font-weight: bold; font-family: verdana;">$MOTIVE$</p>

</body>
</html>
