<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Nuevo Correo YMM Kitting System</title>
    <meta charset='utf-8'>
</head>
<body>
    <h3 style="text-align:justify; font-size:15px;">¡Buen día administrador de YMM Kitting System!</h3>
    <p style="text-align:justify; font-size:13px;">
        Le informamos que <b>$USER_NAME$</b> tiene el siguiente asunto a tratar con usted urgentemente,
        por lo mismo le pedimos se ponga en contacto con él y aclare sus dudas.
        Sus datos estan anexados al final de este correo.
    </p>
    <h4>Asunto:</h4>
    <p style="text-align:left; font-size:12px;">$USER_ASUNTO$</p>

    <h4>Datos proporcionados:</h4>
    <p style="text-align:left; font-size:12px;"><span style="font-weight:bold;">Nombre completo: </span>$USER_NAME$</p>
    <p style="text-align:left; font-size:12px;"><span style="font-weight:bold;">Correo: </span><a href="#">$USER_EMAIL$</a></p>

</body>
</html>
