<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <meta charset='utf-8'>
</head>
<body>
    <h3 style="color: #D71A2F; text-align: justify; font-size: 15px;">Hi!</h3>
    <p style="text-align:justify; font-size:13px;">
        This Extra Transport request has been <b style="color: #f80000; font-family: verdana;">CANCELLED</b>.
    </p>
    <h4>Route:</h4>
    <p style="text-align: left; font-size: 12px; color: #D71A2F;">$ROUTE$</p>

    <h4>Stop:</h4>
    <p style="text-align: left; font-size: 12px; color: #D71A2F;">$STOP$</p>

    <h4>Detail:</h4>
    <span style="text-align: left; font-size: 12px; font-weight: bold;">Applicant: </span>
    <br />
    <label style="text-align: left; font-size: 12px; color: #D71A2F;">$APPLICANT$</label>
    <br />
    <span style="text-align: left; font-size: 12px; font-weight: bold;">Associate: </span>
    <br />
    <label style="text-align: left; font-size: 12px; color: #D71A2F;">$ASSOCIATE$</label>
    <br />
    <span style="text-align: left; font-size: 12px; font-weight: bold;">Request Date:</span>
    <br />
    <label style="text-align: left; font-size: 12px; color: #D71A2F;">$DATE$</label>

</body>
</html>
