<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Nuevo Correo Softcomuna</title>
    <meta charset='utf-8'>
</head>
<body>
    <p style="text-align:justify; font-size:15px;">¡Buen día administrador de Softcomuna!</p>
    <p style="text-align:justify; font-size:13px;">Le informamos que recientemente <b>$USER_NAME$</b> envio una solicitud de <b>$USER_MOTIVO$</b>, por lo mismo le pedimos se ponga en contacto y aclare sus dudas, anexamos los siguientes datos personales mismos que fueron
    recolectados del formulario.</p>
    <p style="text-align:left; font-size:12px;"><span style="font-weight:bold;">Nombre completo: </span>$USER_NAME$</p>
    <p style="text-align:left; font-size:12px;"><span style="font-weight:bold;">Email: </span>$USER_EMAIL$</p>
    <p style="text-align:left; font-size:12px;"><span style="font-weight:bold;">Número telefónico: </span>$USER_NOTEL$</p>
    <p style="text-align:left; font-size:12px;"><span style="font-weight:bold;">Motivo de contacto: </span>$USER_MOTIVO$</p>
    <p style="text-align:left; font-size:12px;"><span style="font-weight:bold;">NOTAS: </span>$USER_EXPLICACION$</p>
    <br />
    <!--<p style="text-align:center; font-size:15px;"><img src="http://i57.tinypic.com/28ja7iq.png" alt="Softcomuna" title="Softcomuna" style=" min-height:55px; max-height:55px; height:55px; width:122px; max-width:122px; min-width:122px; opacity:0.1" /></p>-->
    <p style="text-align:center; font-size:15px;">Que tenga un excelente día.</p>
    <p style="text-align:center; font-size:11px;">Equipo Softcomuna</p>
</body>
</html>
