<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <meta charset='utf-8'>
</head>
<body>
    <h3 style="color: #D71A2F; text-align: justify; font-size: 15px;">Hi!</h3>
    <p style="text-align:justify; font-size:13px;">
        <b style="color: #D71A2F; font-family: verdana;">$APPLICANT$</b>, your Utility Car request has been
        <b style="color: #0ccf03; font-weight: bold; font-family: verdana;">COMPLETED</b>.
        Thank you.
    </p>

    <h4>Detail:</h4>
    <p style="text-align:left; font-size:12px;"><b>No. Passengers: </b><label style="color: #D71A2F; font-weight: bold; font-family: verdana;">$PASSENGERS$</label></p>
    <p style="text-align:left; font-size:12px;"><b>Destination: </b><label style="color: #D71A2F; font-weight: bold; font-family: verdana;">$DESTINATION$</label></p>
    <p style="text-align:left; font-size:12px;"><b>Start Date: </b><label style="color: #D71A2F; font-weight: bold; font-family: verdana;">$DATE$</label></p>
</body>
</html>