<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <meta charset='utf-8'>
</head>
<body>
    <h3 style="text-align:justify; font-size:15px;">Hi!</h3>
    <p style="text-align:justify; font-size:13px;">
        This Extra Diner request has been <b>CANCELLED</b>.
    </p>
    <h4>Type:</h4>
    <p style="text-align:left; font-size:12px;">$TYPE$</p>

    <h4>Detail:</h4>
    <p style="text-align:left; font-size:12px;"><span style="font-weight:bold;">Applicant: </span>$APPLICANT$</p>
    <p style="text-align:left; font-size:12px;"><span style="font-weight:bold;">Associate: </span>$ASSOCIATE$</p>
    <p style="text-align:left; font-size:12px;"><span style="font-weight:bold;">Request Date: </span>$DATE$</p>

</body>
</html>
