<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <meta charset='utf-8'>
</head>
<body>
    <h3 style="text-align:justify; font-size:15px;">Hi <b>$APPLICANT$</b> !</h3>
    <p style="text-align:justify; font-size:13px;">
        Your Translation request has been approved.
    </p>

    <h4>Detail:</h4>
    <p style="text-align:left; font-size:12px;"><span style="font-weight:bold;">Issue: </span>$ISSUE$</p>
    <p style="text-align:left; font-size:12px;"><span style="font-weight:bold;">Request Date: </span>$DATE$</p>

</body>
</html>
