<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <meta charset='utf-8'>
</head>
<body>
    <h3>Hi!</h3>
    <p style="text-align:justify; font-size:13px;">
        <b style="color: #D71A2F; font-family: verdana;">$APPLICANT$</b>, is requesting <b style="color: #0ccf03; font-weight: bold; font-family: verdana; ">$TYPE$</b>.
    </p>

    <h4>Motive:</h4>
    <p style="text-align: left; font-size: 12px; color: #D71A2F; font-family: verdana; font-weight: bold;">$MOTIVE$</p>

    <h4>Date:</h4>
    <p style="text-align: left; font-size: 12px; color: #D71A2F; font-family: verdana; font-weight: bold;">$DATEFOR$ $TIMEFOR$</p>
    <br />

    <p style="text-align: left; font-size: 10px; color: #000000; font-family: verdana; font-weight: bold;"> To continue with the process, please click <a href="http://ymmsoftapp/hr/">here</a> </p>
</body>
</html>