<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <meta charset='utf-8'>
</head>
<body>
    <h3 style="text-align:justify; font-size:15px;">Hi!</h3>
    <p style="text-align:justify; font-size:13px;">
        Hi, <b>$APPLICANT$</b>, your Extra Diner request has been <b>confirmed</b>.
    </p>

    <p style="text-align:left; font-size:12px;"><b>Type: </b>$TYPE$</p>
    <p style="text-align:left; font-size:12px;"><b>Request Date: </b>$DATE$</p>
    <p style="text-align:left; font-size:12px;"><b>Request Time: </b>$TIME$</p>

    <h4>Associates:</h4>
    <p style="text-align:left; font-size:12px;">$ASSOCIATES$</p>

    <h4>Motive:</h4>
    <p style="text-align:left; font-size:12px;">$MOTIVE$</p>


</body>
</html>
