<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Vacation Approval Notification for HR</title>
    <meta charset='utf-8'>
</head>
<body>
    <h3 style="text-align:justify; font-size:15px;">Hello, HR Team!</h3>
    <p style="text-align:justify; font-size:13px;">
        The vacation request created for <b style="color: #960018;">$APPLICANT$</b> has been approved by their direct boss.
    </p>

    <p style="text-align:left; font-size:12px;"><b>Days Requested: </b><b style="color: #960018;">$DAYS_REQUEST$</b></p>
    <p style="text-align:left; font-size:12px;"><b>Requested Dates (aaaa-mm-dd): </b><b style="color: #960018;">$DAYS$</b></p>

    <p style="text-align:justify; font-size:12px;">
        Now, you can complete the approval process!
    </p>
</body>
</html>
