<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <meta charset='utf-8'>
</head>
<body>
    <h3 style="color: #D71A2F; text-align: justify; font-size: 15px;">Hi!</h3>
    <p style="text-align:justify; font-size:13px;">
        <h4>The user: </h4>
        <b style="color: #D71A2F; font-family: verdana;">$APPLICANT$</b>,
        <label style="color: #2e86c1; font-weight: bold; font-family: verdana;">has sent a Utility Car request</label>.
    </p>

    <h4>Detail:</h4>
    <p style="text-align:left; font-size:12px;"><b>No. Passengers: </b><label style="color: #D71A2F; font-weight: bold; font-family: verdana;">$PASSENGERS$</label></p>
    <p style="text-align:left; font-size:12px;"><b>Destination: </b><label style="color: #D71A2F; font-weight: bold; font-family: verdana;">$DESTINATION$</label></p>
    <p style="text-align:left; font-size:12px;"><b>Request Date: </b><label style="color: #D71A2F; font-weight: bold; font-family: verdana;">$DATE$</label></p>
    <p style="text-align:left; font-size:12px;"><b>Fuel Card Use: </b><label style="color: #D71A2F; font-weight: bold; font-family: verdana;">$CARD$</label></p>
    <p style="text-align:left; font-size:12px;"><b>TAG Use: </b><label style="color: #D71A2F; font-weight: bold; font-family: verdana;">$TAG$</label></p>
</body>
</html>

