<!DOCTYPE html>
<html>
<head>
    <title>Hola</title>
    <meta charset='utf-8'>   
</head>
<body>
    <p>Hola <strong>$USER_NAME$</strong></p>
    <p>Recibimos la solicitud de restablecer su contraseña para su cuenta en <b>$USER_ENTIDAD$</b></p>
    <p>El proceso ha sido concluido con exito y sus datos para iniciar sesion se muestran acontinuacion.</p>

    <p>Si usted no ha solicitado este cambio lamentamos el malentendio, y le recomendamos que ingrese con los datos proporcionados
        lo antes posible y cambie su contraseña</p>
    <p>
        Nick: <b>$NICK_NAME$</b> o <b>$CORREO_PRINCIPAL$</b><br />
        Password: <b>$PASSWORD$</b>
    </p>

</body>
</html>