<!DOCTYPE html>
<html>
<head>
    <title>Hola</title>
     <meta charset='utf-8'>
</head>
<body>
    <p>Hola <strong>$USER_NAME$</strong></p>
    <p>
        Le informamos que recientemente recibimos una petición de su cuenta en <strong>HR System</strong>
        para cambiar su contraseña, si usted no fue el responsable de la petición haga caso omiso de este mensaje.
        Para cambiar su contraseña de clic en el siguiente link para continuar con el proceso: <a href="$USER_URL$">Cambiar contraseña</a>
    </p>
</body>
</html>
