<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Rewards Inventory Low Stock Alert</title>
    <meta charset="utf-8">
</head>
<body style="font-family: verdana;">

    <h3 style="color: #D71A2F; text-align: justify; font-size: 15px;">Hi!</h3>

    <p style="text-align:justify; font-size:13px;">
        <label style="color: #2e86c1; font-weight: bold; font-family: verdana;">
            A redeem has reduced the stock down to the minimum level (or below).
        </label>
    </p>

    <p style="text-align: left; font-size: 12px;">
        <b>Worker ID: </b>
        <label style="color: #D71A2F; font-weight: bold; font-family: verdana;">$WORKERID$</label>
    </p>

    <p style="text-align: left; font-size: 12px;">
        <b>Redeem ID: </b>
        <label style="color: #D71A2F; font-weight: bold; font-family: verdana;">$REDEEMID$</label>
    </p>

    <p style="text-align: left; font-size: 12px;">
        <b>Date: </b>
        <label style="color: #D71A2F; font-weight: bold; font-family: verdana;">$DATE$</label>
    </p>

    <h4 style="font-size: 13px; margin-top: 18px;">Items:</h4>

    <div style="font-size: 12px;">
        $ITEMS_TABLE$
    </div>

    <p style="color: #777; text-align: left; font-size: 11px; margin-top: 18px;">
        This is an automated notification from YMM HR System.
    </p>

</body>
</html>